<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>SGC</title>
		<link rel="stylesheet" href="css/960.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/template.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="css/colour.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<h1 id="head">SGC - Sistema de Gerenciamento de Clientes</h1>
		<ul id="navigation">
			<li><a href="dashboard.html">Home</a></li>
			<li><span class="active">Login</span></li>
			<li><a href="cliente.html">Clientes</a></li>
			<li><a href="cadastro.html">Cadastro</a></li>
		</ul>
		<div id="content" class="container_16 clearfix">
			<div class="grid_11">
				<h2>Login</h2>
				<div class="grid_4">
					<p>
						<label>Login</label>
						<input type="text"  style="width:220px;"/>
					</p>
				</div>
				<div class="grid_6">
					<p>
						<label>Senha</label>
						<input type="password"  style="width:220px;"/>
						<input type="submit" value="Entrar"/>
					</p>
				</div>
			</div>
			<div class="grid_4">
			</div>
		</div>
		<div id="foot">
			<div class="container_16 clearfix">
				<div class="grid_16">
					<a href="#">SGC - Sistema de Gerenciamento de Clientes</a>
				</div>
			</div>
		</div>
	</body>
</html>